/*https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529*/
:root {
	/* black text: #212529, grey background: #e9ecef */
	--background: #f3f4f6;
	--text: #000000;
}
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    color: var(--text);
    font-size: 7vh;
    font-weight: bolder;
  }
  h2 {
    color: var(--text);
    font-size: 4vh;
    font-weight: bolder;
  }
  h3 {
    color: var(--text);
    font-size: 3.05vh;
    margin-bottom: 0;
  }
  h4 {
	color: var(--text);
	font-size: 3vh;
	margin: 0 0 20px 0;
  }
  p {
    color: var(--text);
    font-size: 3vh;
	margin: 0 0 12px 0;
  }

.header {
	/* top | right | bottom | left */
	margin: 2.5% 10% 0% 15%;
	border-bottom: solid;
}

/* Style the content */
.content {
	position: relative;
	/* top | right | bottom | left */
	margin: 0% 10% 5% 15%;
}

.footer {
	/* top | right | bottom | left */
	margin: 0% 10% 0% 15%;
	border-top: solid;
}

a:hover {
	/*background: radial-gradient(#858e96, #60696b);*/
	background: #60696b;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



